
.item-card{
     background-color:rgb(210, 181, 165);
     border-radius: 40px;
    min-width: 400px;
    height: 400px;
    padding:12px;
    display: flex;
    flex-direction: column;
    

}
.item-image{
    width: 300px;
    height: 215px;
  
    
}
#item-container{
    max-width: calc(100% - 10px);
    padding : 30px;
    display: flex;
    overflow-x:auto;
    grid-template-columns: repeat(auto-fit,minmax(244px,1fr));
    
    column-gap:30px;
    margin-left: 30px;
    scrollbar-width:none;

    
}
.btn-top{
    margin-left: 15px;
    padding: 10px;
    width: 150px;
    height: 300px;
    border-radius: 25px;
    border: none;
    background-color: rgb(230, 213, 205);
    

}
.btn-bottom{
    background-color: rgb(105, 88, 81);
    color:white;
    border-radius: 20px;
    width: 150px;
    height: 40px;
    border-color: rgb(105, 88, 81);
 

}
.price-btn{
    margin-left:30px;
    display:flex;
    align-items: center;
    justify-content: center;
    width:80%;
    column-gap: 50px;
    padding-top:10px;
}

.item-card:hover {
  transform: translateY(-25px);
   
}
.middle-elements{
    align-items:center;
    text-align: center;
    justify-content: center;
    font-weight:700;
    font-size: 130%;
    
    
}
