#app-container{
    min-height: calc(100vh - 100px);
 
    width: 100vw;
    padding-bottom:100px;
    overflow: hidden;
    left:0;
    background-color:   rgb(234, 205, 189);
    overflow-x:hidden ;
    font-family: "Gill Sans", "Avant Garde Gothic", sans-serif;



}
#scrollable{
    padding-top:80px;
    width: 100vw;
    left:0px;
    text-align: center;
    justify-content: center;
   
}

@media (max-width: 768px) {
     #scrollable {
        padding-top: 86px;
        text-align: center;
    justify-content: center;
    }
}
